@import "tailwindcss";

#nprogress .spinner {
  @apply hidden;
  display: none !important;
}

#nprogress .bar {
  @apply bg-red-500 h-1;
  background-color: #ef4444 !important;
  height: 0.25rem !important;
}
